body{
/* background-color: ; */
}

img{
    width: 230px;
    height: 200px;
}
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  .header-right {
    float: right;
  }
       
  #headerLogo.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  #headerLogo:hover {
    background-color: #ddd;
    color: black;
  }
  
  #headerLogo.active {
    background-color: dodgerblue;
    color: white;
  }
  .form-control{
    width: 6rem;
  }